#linkTitulo{
    color: rgb(205, 195, 50);
}

#linkLocation{
    color: rgb(10, 10, 10);
    
}
#linkLocation:hover {
    color: blanchedalmond;
  }
  #linkTitulo:hover{
    color: blanchedalmond;
  }
#card{
    background-color: #857C7A;
    width: 20rem;
    height: 31.2rem;
    border: solid;
    border-Radius: 25px;
    padding: 20px;
  }
  #Dead{
    background-color: rgb(199, 8, 2);
    width: 15px;
    height: 15px;
    border: solid;
    border-radius: 25px;
    position: absolute;
    left: 90px;
    top: 354px;
 }
 #Alive{
    background-color: rgb(9, 247, 9);
    width: 15px;
    height: 15px;
    border: solid;
    border-radius: 25px;
    position: absolute;
    left: 85px;
    top: 354px;
 }
 #unknown{

    background-color: rgb(10, 10, 10);
    width: 15px;
    height: 15px;
    border: solid;
    border-radius: 25px;
    position: absolute;
    left: 78px;
    top: 354px;

 }

 #cardsGroup{
    border-radius: 25px;
    background:rgb(62, 65, 73);
 }

 #footer{
    background-color: rgb(178, 209, 178);
    width: 7rem;
    height: 2rem;
    border: solid;
    border-radius: 25px;
    position: absolute;
    left: 100px;
    top: 450px;
 }
 #imageCharacter{
    border-radius: 50%;
  }